<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <p>Tracked Handles</p>
        {{#if trackedHandles}}
          <div>
            <ul>
              {{#each trackedHandles}}
                <li class="trasher">
                  <form action="/handles/remove?_method=PUT" method="POST">
                    <input type="hidden" id="delete{{this}}" name="removeHandle" value="{{this}}">
                    <button type="submit" class="btn">
                      <i class="fas fa-trash"></i>{{this}}
                    </button>
                  </form>
                </li>
              {{/each}}
            </ul>
          </div>
        {{/if}}
      <form method="POST" action="/handles/add?_method=PUT">
        <input
          type="text"
          id="addHandle"
          name="addHandle"
          class="form-control"
          placeholder="Enter Handle"
        />
        <button type="submit" class="btn btn-block">Add</button>
        <br>
      </form>
      <hr />
      <br>
      <a href="/">Return to Dashboard</a>
    </div>
  </div>
</div>
